*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit; }

html {
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 62.5%; }
  @media only screen and (max-width: 52em) {
    html {
      font-size: 37.5%; } }

#info {
  position: fixed;
  top: 2rem;
  left: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2rem;
  z-index: 99;
  font-size: 2rem; }

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 1rem;
  z-index: 999; }

.paragraph {
  font-size: 5rem;
  font-weight: bold;
  color: #000; }

.p-page-1 {
  position: absolute;
  top: 50rem;
  margin: 0 auto;
  z-index: 3; }

.p-page-2 {
  position: absolute;
  top: 20%;
  left: 10vw;
  max-width: 50rem; }
  @media only screen and (max-width: 52em) {
    .p-page-2 {
      top: 10%;
      left: 5vw;
      max-width: 28rem; } }

.p-page-3 {
  position: absolute;
  top: 10%; }

.p-page-4 {
  position: absolute;
  top: 10%;
  color: #fff; }

.scene-1-bg-1 {
  position: relative;
  background: url("../img/sky_clouds.png") no-repeat center;
  background-size: cover;
  height: 81rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 2; */ }

.scene-1-bg-1_5 {
  position: relative;
  background-color: #ADE6E6;
  height: 20rem; }

.scene-1-bg-2 {
  background: #ADE6E6 url("../img/ocean_clouds.png") no-repeat center;
  background-size: cover;
  height: 101rem;
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center; }

.scene-1-bg-2_5 {
  background-color: #418BCE;
  height: 161rem; }

.scene-1-sky {
  width: 100vw; }

.scene-1-sun {
  position: absolute;
  top: 15rem;
  width: 48rem;
  z-index: 2; }
  @media only screen and (max-width: 52em) {
    .scene-1-sun {
      width: 36rem; } }

.scene-1-boat {
  position: absolute;
  top: 20rem;
  width: 62rem;
  height: 50rem; }

.scene2-bg1 {
  background: #132528 no-repeat center;
  background-size: cover;
  height: 101rem;
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center; }
  .scene2-bg1-moon {
    position: absolute;
    top: 20rem;
    left: 20vw;
    width: 23rem; }
    @media only screen and (max-width: 52em) {
      .scene2-bg1-moon {
        width: 18rem; } }
  .scene2-bg1-forest {
    position: absolute;
    top: -35rem; }
    .scene2-bg1-forest-front {
      position: absolute;
      bottom: -85rem; }
  .scene2-bg1-hill {
    position: absolute;
    bottom: 0;
    height: 81rem; }
  .scene2-bg1-eyes {
    position: absolute;
    bottom: 7rem;
    width: 148rem; }
  .scene2-bg1-manRight {
    position: absolute;
    bottom: 20rem;
    left: 50vw;
    height: 50rem; }
    @media only screen and (max-width: 52em) {
      .scene2-bg1-manRight {
        left: 25vw; } }
  .scene2-bg1-manLeft {
    position: absolute;
    bottom: 10rem;
    left: 25vw;
    height: 45rem; }
    @media only screen and (max-width: 52em) {
      .scene2-bg1-manLeft {
        left: -10vw; } }

.scene2-bg1_5 {
  background-color: #CBD0D5;
  height: 300rem; }

.footer {
  position: fixed;
  width: 100vw;
  bottom: 5%;
  z-index: 90; }
  .footer-copyright {
    position: absolute;
    left: 2%;
    font-size: 2rem;
    font-weight: bold; }
