.scene3 {
    &-bg1 {
        background: #F9E7D3 no-repeat center;
        background-size: cover;
        height: 121rem;
        width: 192rem;
        position: sticky;
        top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: -1;

        &-sun {
            position: absolute;
            top: 10rem;
            left: 75vw;
            width: 20rem;
            z-index: -3;
        }

        &-clouds {
            position: absolute;
            left: 0;
            animation: moveToLeft 200s linear infinite;
            z-index: -2;
        }
        
        &-hotAirBalloon {
            position: absolute;
            top: -205%;
            width: 192rem;
            z-index: -1;
    
            @media only screen and (max-width: $bp-small) {
                width: 182rem;
            }
        }

        &-skydiving {    
            @media only screen and (max-width: $bp-medium) {
                margin-bottom: 10rem !important;
                width: 40rem;
            }
        }

        &-happyNewYear {
            position: absolute;
            top: 8%;
            width: 50rem;
    
            @media only screen and (max-width: $bp-medium) {
                top: 16%;
                width: 30rem;
            }
        }
    }
}
.scene4 {
    background-color: #FF8900;
    position: sticky;
    top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-logo {
    
        @media only screen and (max-width: $bp-medium) {
            width: 25rem;
        }
    }
}
