.paragraph {
    font-size: 5rem;
    font-weight: bold;
    color: #000;
}

.p-page {
    &-1 {
        position: absolute;
        bottom: 10rem;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
    }

    &-2 {
        position: absolute;
        top: 20%;
        left: 10vw;
        max-width: 50rem;

        @media only screen and (max-width: $bp-medium) {
            top: 10%;
            left: 5vw;
            max-width: 28rem;
        }
    }

    &-3 {
        position: absolute;
        top: 10%;
    }

    &-4 {
        position: absolute;
        top: 10%;
        // width: 22rem;
        color: #fff;

        @media only screen and (max-width: $bp-medium) {
            // width: 25.5rem;
        }
    }

    &-5 {
        position: absolute;
        top: 65%;
        // width: 50rem;
        color: #fff;
    }

    &-6 {
        position: absolute;
        top: 37%;
        left: 68vw;
        color: #000;

        @media only screen and (max-width: $bp-medium) {
            display: none !important;
        }
    }

    &-7 {
        position: absolute;
        top: 40%;
        left: 8vw;
        color: #000;

        @media only screen and (max-width: $bp-medium) {
            display: none !important;
        }
    }
}